version: '3'
services:
  personal_server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    depends_on:
      - personal_mongo
    environment:
      - MONGO_URI=
    networks:
      - my-network
    container_name: personal_saas_server

  personal_mongo:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=
      - MONGO_INITDB_ROOT_PASSWORD=
    ports:
      - '27017:27017'
    networks:
      - my-network
    container_name: personal_saas_mongo

networks:
  my-network:
