version: '3'
services:
  personal_server:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - /Users/anderson.silva/documents/personal_erp_backup:/app/exports
    ports:
      - '3000:3000'
    depends_on:
      - personal_mongo
    environment:
      - MONGO_URI=
      - BACKUP_ROUTINES=
      - JWT_TOKEN=
      - SALTS_ROUNDS=
    networks:
      - my-network
    container_name: personal_saas_server

  personal_mongo:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=
      - MONGO_INITDB_ROOT_PASSWORD=
    ports:
      - '27017:27017'
    networks:
      - my-network
    container_name: personal_saas_mongo

networks:
  my-network:
